.header {
  width: 100%;
  background-color: #7952b3;
  color: #fff;
  height: 54px;
  flex: none;
  display: flex;
  justify-content: center;
}

.header .header__wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.header .header__logo {
  cursor: pointer;
}
