<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/side.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="/bootstrap-4.6.1-dist/css/bootstrap-grid.min.css"
    />
    <link
      rel="stylesheet"
      href="/bootstrap-4.6.1-dist/css/bootstrap-reboot.min.css"
    />
    <link rel="stylesheet" href="/bootstrap-4.6.1-dist/css/bootstrap.min.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap-4.6.1-dist/js/bootstrap.bundle.min.js"></script>
    <div class="d-flex">
      <nav class="side">
        <div class="side__wrapper">
          <header class="side__header">LOGO</header>
          <main class="side__body">
            <ul>
              <li class="m-2">
                <a href="/"> 홈 </a>
              </li>
              <li class="m-2">
                <a href="/"> 정보 </a>
              </li>
            </ul>
          </main>
        </div>
      </nav>
      <div class="base">
        <!-- header -->
        {% include "template/header.html" %}
        <!-- header -->
        <!-- content -->
        <div class="body">
          <div class="body__wrapper mx-auto">
            {% block content %}{% endblock %}
          </div>
        </div>
        <!-- content -->
        <!-- footer -->
        {% include "template/footer.html" %}
        <!-- footer -->
      </div>
    </div>
  </body>
</html>
