<!-- base -->
{% extends "template/base.html" %}
<!-- base -->

{% block content %}
<main class="info mt-4">
  <div class="info__header">{{user.id}}</div>
  <div class="img-preview">
    <img
      id="img-preview"
      src=""
      style="display: none"
      width="250"
      alt="미리보기"
    />
    <input id="img-url" type="hidden" name="url" />
  </div>
  <div>
    <label id="img-label" for="img">사진 업로드</label>
    <input id="img" type="file" accept="image/*" />
    <button id="twit-btn" type="submit" class="btn btn-success">저장</button>
  </div>
</main>

<script>
  if (document.getElementById("img")) {
    document.getElementById("img").addEventListener("change", function (e) {
      const formData = new FormData();
      console.log(this, this.files);
      formData.append("img", this.files[0]);

      //     axios.post('/post/img', formData)
      //         .then((res) => {
      //             document.getElementById('img-url').value = res.data.url;
      //             document.getElementById('img-preview').src = res.data.url;
      //             document.getElementById('img-preview').style.display = 'inline';
      //         })
      //         .catch((err) => {
      //             console.error(err);
      //         });
    });
  }
</script>
{% endblock %}
