<!-- base -->
{% extends "template/base.html" %}
<!-- base -->

{% block content %}
<link rel="stylesheet" type="text/css" href="/css/info.css" />
<div class="body mt-4">
  <div class="body__wrapper mx-auto">
    <div class="info__header">
      <h3>내정보</h3>
    </div>
    <main class="info mt-4">
      <div class="info__profile mb-2">
        <div class="info__profile-img">
          <label for="file" class="m-0 d-inline">
            <img class="info__img" src= "{{ user.img | replace('"', "") |
            capitalize }}" alt="">
            <input
              id="file"
              class="info__img-file"
              style="display: none"
              type="file"
              accept="image/*"
            />
          </label>
        </div>
      </div>
      <div class="text-center">
        <h3>사진</h3>
      </div>
      <div>
        <div class="d-flex">
          <div>아이디:</div>
          <div>{{ user.email }}</div>
        </div>
      </div>
      <div class="mt-4 d-flex justify-content-end">
        <button id="submit-btn" type="button" class="btn btn-success">
          저장
        </button>
      </div>
    </main>
  </div>
</div>

<script>
  /**
   * 이미지 변경
   */
  function onChangeImage($img) {
    return function (event) {
      var reader = new FileReader();
      reader.readAsDataURL(event.target.files[0]);
      reader.onload = function (event) {
        $img.src = event.target.result;
      };
    };
  }

  /**
   * 저장 버튼
   */
  function onSubmitInfomation($file, name, url) {
    return function (event) {
      // 저장 확인 검사
      if (!window.confirm("저장하시겠습니까?")) return null;
      // 만약 선택한 파일이 없다면 종료
      if ($file.files.length === 0) return null;

      // console.log($file.files);
      const formData = new FormData(); // form 데이터 형식 생성
      formData.append(name, $file.files[0]); // form 형식에 삽입
      fetch(url, {
        method: "post",
        body: formData,
      })
        .then((res) => {
          // 저장 성공시 새로고침
          location.reload();
        })
        .catch((err) => {
          console.error(err);
        });
    };
  }

  const $img = document.querySelector(".info__img");
  const $file = document.querySelector(".info__img-file");
  const $submitBtn = document.querySelector("#submit-btn");

  $file.addEventListener("change", onChangeImage($img));
  $submitBtn.addEventListener(
    "click",
    onSubmitInfomation($file, "img", "/img")
  );
</script>
{% endblock %}
