<!-- base -->
{% extends "template/base.html" %}
<!-- base -->
{% block content %}
<!-- header -->
{% include "template/header.html" %}
<!-- header -->
<!-- content -->
<form action="http://localhost:9999/join" accept-charset="utf-8" method="post">
  <p>회원 가입</p>
  <p>아이디</p>
  <input type="text" name="email" />
  <p>비밀번호</p>
  <input type="password" name="password" />
  <p>비밀번호 확인</p>
  <input type="password" name="password_check" />
  <div>
    <button type="submit" class="form__submit">전송</button>
  </div>
</form>
<!-- content -->
<!-- footer -->
{% include "template/footer.html" %}
<!-- footer -->
<script>
  window.onload = () => {
    /**
     * 이미 존재하는 이메일일 경우 경고 문자 생성하는 함수
     * @param {HTMLElement} $parent
     */
    function $joinFailMessage($parent) {
      var $div = document.createElement("div");
      var textNode = document.createTextNode("이미 존재하는 이메일 입니다.");
      $div.append(textNode);
      $parent.append($div);
    }

    if (new URL(location.href).searchParams.get("error")) {
      const $btn = document.querySelector(".form__submit");
      $joinFailMessage($btn);
    }
  };
</script>
{% endblock %}
