<!--  -->
{% extends "template/base.html" %}
<!--  -->
{% block content %}
<!-- header -->
{% include "template/header.html" %}
<!-- header -->
<form action="http://localhost:9999/login" accept-charset="utf-8" method="post">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >아이디</span
      >
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      name="email"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >비밀번호</span
      >
    </div>
    <input
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      type="password"
      name="password"
    />
  </div>

  <div class="d-flex justify-content-center">

    <div class="mx-2">
      <button type="submit" class="form__submit btn btn-success">로그인</button>
    </div>
    <div class="mx-2">
      <a href="/join">회원가입</a>
    </div>
  </form>
  </div>
<!-- footer -->
{% include "template/footer.html" %}
<!-- footer -->
{% endblock %}
