<!-- base -->
{% extends "template/base.html" %}
<!-- base -->
{% block content %}
<link
  rel="stylesheet"
  href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
/>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<!-- header -->
{% include "template/header.html" %}
<!-- header -->

<!-- content -->
<article>
  <div>글작성 화면</div>
  <div><input type="text" class="post__title" value="{{data.title}}" /></div>
  <div id="editor"></div>
  <div>
    <a href="/">
      <button class="btn btn-warning">취소</button>
    </a>
    <button class="btn btn-success post__save">저장</button>
  </div>
</article>
<!-- content -->

<script>
  const initialValue = "{{data.content}}";

  const Editor = toastui.Editor;
  const editor = new Editor({
    el: document.querySelector("#editor"),
    height: "500px",
    initialEditType: "markdown",
    previewStyle: "vertical",
    initialValue: initialValue,
  });
  editor.getMarkdown();
</script>
<script>
  const $title = document.querySelector(".post__title");
  const $saveBtn = document.querySelector(".post__save");

  async function onSubmit(e) {
    if (!window.confirm("저장 하시겠습니까?")) return null;
    const editorBody = editor.getMarkdown();
    console.log($title.value);
    console.log(editorBody);

    const response = await fetch("/post", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ title: $title.value, body: editorBody }),
    });

    if (response.status === 403) {
      return alert("잠시후 다시 시도해주세요.");
    }
    return (location.href = "/");
  }

  $saveBtn.addEventListener("click", onSubmit);
</script>

<!-- footer -->
{% include "template/footer.html" %}
<!-- footer -->
{% endblock %}
