<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- header -->
    {% include "template/header.html" %}
    <!-- header -->

    <div>글작성 화면</div>
    <div id="editor"></div>

    <!-- footer -->
    {% include "template/footer.html" %}
    <!-- footer -->
  </body>
  <script src="/js/index.js"></script>
  <script>
    const Editor = toastui.Editor;
    const editor = new Editor({
      el: document.querySelector("#editor"),
      height: "500px",
      initialEditType: "markdown",
      previewStyle: "vertical",
    });
    editor.getMarkdown();
  </script>
</html>
